/* -----------------------------
   Base Reset
------------------------------ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

/* -----------------------------
   Page Layout
------------------------------ */
body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background: #202020; /* dark slate */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards a {
  text-decoration: none;
  color: #007281;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 5rem;
  background-color: #0c0c0c80;
  font-size: 120%;
}

header a {
  color: #4d3602;
}

header h2 {
  color: #cea135;
  
}
a {
  text-decoration: none;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* perfect center */
  text-align: center;
  flex-shrink: 0;
}

.nav-left, .nav-right {
  display: flex;
  gap: 1.5rem;
}




.cards {
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.card {
  background-color: #7944ab7e;
  padding: 5%;
  width: 100%;
  border-radius: 20px;
  margin-top: 5%;
  text-align: center;

  opacity: 0;
  transform: translateY(10%);
  transition: opacity 1s ease, transform 1s ease;
}

.card.show {
  opacity: 1;
  transform: translateY(10px);
}




@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: stretch;
    padding: 12px;
  }
  .menu-btn {
    display: block;
  }
  .menu {
    display: none;
    flex-direction: column;
    background: #222;
    width: 100%;
    padding: 10px 0;
    position: relative;   /* <-- change from absolute to relative */
  }
  .menu.active {
    display: flex;
  }


  #title {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 8px;
  }

  header nav {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 8px;
  }

  header a h3,
  header a h4 {
    font-size: 0.9rem;
  }

}